* {
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(29, 148, 146);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  position: absolute;
  top: 20px;
  left: 5vw; /* to center horizontally if needed */
  width: 90vw;
  height: 90vh;
  background-color: #fbfbfb;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
}
